@import "base";
/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, , h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%
}
img,fieldset {border:none;}
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
    display: block;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
*{-webkit-text-size-adjust: none; }
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body{
    min-width: 1007px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
}

a{
    text-decoration: none;   
    &:hover{
        text-decoration: none;
    }
}
.l-layout {
    margin: 0 auto -206px;
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.push {
    clear: both;
    height: 206px;
}
/* ------------------------------------ //END Main styles --------------------------------------- */
/* ----------------------------------------- Header --------------------------------------------- */
 .header{
    height: 56px;
    background: #51535e;
    @include clr;
 }
.header__logo{
    width: 128px;
    height: 56px;
    float: left;
    text-align: center;
    a{
        display: inline-block;
        width: 100%;
        height: 50px;
        vertical-align: top;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0;
    }
}

.header__logo-white_label {

    float: left;
    height: 56px;
    margin-left: 39px;
}

.header__logo__link-white_label {
    color: #fff;
    vertical-align: middle;
    line-height: 56px;
    font-weight: 500;
    font-size: 28px;
} 

.header__phone-white_label {
    float: right !important;
}

.header__phone{
    height: 100%;
    float: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    ul{
        @include clr;
        padding-top: 10px;
        li{
            position: relative;
            float: left;
            font-weight: 500;
            padding: 0 10px; 
            font-size: 24px;
            @include text-shadow(0 2px 2px rgba(0,0,0,.55));
            @include respond-to(1400){
                font-size: 20px;
            }
            &:before{
                content: "";
                position: absolute;
                top: 9px;
                left: 0px;
                height: 19px;
                width: 3px;
                background: #37383f;
            }
            &:first-child{
                &:before{
                    display: none;
                }
            }
            span{
                font-size: 16px;
                @include respond-to(1280){
                    display: none;
                }
            }
        }
    }
    .btn{
        position: relative;
        top: -5px;
    }
}
.order-call{
    position: relative;
    display: block;
    padding-left: 25px;
    font-size: 24px;
    color: #fff;
    text-decoration: underline;
    @include respond-to(1400){
        font-size: 20px;
    }
    &:before{
        content: "";
        position: absolute;
        top: 7px;
        left: 0px;
        @include s($icons, call-back);
        @include respond-to(1400){
            top: 5px;
        }
    }
}
.header__buttons{
    float: right;
    vertical-align: middle;
    margin-right: 10px;
    .btn{
        @include respond-to(1400){
            width: 110px;
            height: 26px;
            line-height: 26px;
            margin: 13px 0 0 6px;
        }
    }
}
.btn{
    display: inline-block;
    width: 146px;
    height: 34px;
    line-height: 34px;
    margin-left: 10px;
    @include border-radius(4px);
    border: 1px solid #000;
    @include box-shadow(0 1px 2px #000);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}
.btn_yellow{
    width: auto;
    height: auto;
    padding: 5px 20px;
    font-size: 16px;
    @include text-shadow(0 1px 1px rgba(255, 255, 255, 0.5));
    color: #51535e;
    font-weight: bold;
    background: #e4d102;
    @include background-image(linear-gradient(top, #f7e301 0%, #cbbb03 100%));
    &:active{
        color: #535e67;
        @include text-shadow(none);
        background: darken(#e4d102, 5%);
        @include background-image(linear-gradient(bottom, #f7e301 0%, #cbbb03 100%));
    }
}
.registration{
    background: #70727d;
    color: #efeded;
    margin-top: 10px;
    &:hover{
        background: #5a5c65;
    }
}
.login{
    background: #fff;  
    color: #51535e;
    margin-top: 10px;
    &:hover{
        background: #c7c9d1;
    }
}
.login.is-open{
    background: #c7c9d1;
}
.map-marker-blue{
    width: 38px;
    height: 45px;
    @include b(border-box);
    padding-top: 10px;
    background: url(../img/marker.png) 0 0 no-repeat;
    background-size: cover;
    cursor: pointer;
    text-align: center;
    font: bold 11px 'Poboto Slab', serif;
    color: #fff;
    &:hover{
        background: url(../img/marker-hover.png) 0 0 no-repeat; 
    }
    p{
        position: relative;
        left: -1px;
    }
}
.map-marker-yellow{
    width: 49px;
    height: 58px;
    @include b(border-box);
    padding-top: 12px;
    background: url(../img/marker-yellow.png) 0 0 no-repeat;
    cursor: pointer;
    text-align: center;
    font: bold 14px 'Poboto Slab', serif;
    color: #fff;
    p{
        position: relative;
        left: -2px;
    }
}
.map-marker-big-blue{
    width: 49px;
    height: 58px;
    @include b(border-box);
    padding-top: 12px;
    background: url(../img/marker-big.png) 0 0 no-repeat;
    cursor: pointer;
    text-align: center;
    font: bold 14px 'Poboto Slab', serif;
    color: #fff;
    p{
        position: relative;
        left: -2px;
    }
    &:hover{
        background: url(../img/marker-big-hover.png) 0 0 no-repeat;
    }
}
.map-point{
    width: 15px;
    height: 15px;
    @include border-radius(50%);
    @include s($icons, map-point-blue);
}
.map-point.is-active{
    @include s($icons, map-point-yell);
}
.map-point.is-active.bordered{
    @include s($icons, map-point-yell-active);
}
.map-point.bordered{
    @include s($icons, map-point-blue-active);
}
.user-avatar{
    float: right;
    width: 48px;
    height: 48px;
    margin: 3px 5px 0 12px;
    @include border-radius(50%);
    overflow: hidden;
    @include b(border-box);
    border: 1px solid #eff0ef;
    img{
        width: 100%;
        height: 100%;
    }
}
.l-user-name{
    position: relative;
    float: right;
    line-height: 54px;
}
.user-name{
    font-weight: bold;
    font-size: 18px;
    color: #47c3fe;
    @include text-shadow(0 1px 0 #000);
    cursor: pointer;
}
.language{
    float: right;
    margin-right: 15px;
    padding-top: 17px;
    cursor: pointer;
}
.user-name__popup{
    display: none;
    position: absolute;
    top: 54px;
    right: 0px;
    width: 186px;
    @include border-radius(8px 8px 0 0);
    @include box-shadow(0 1px 5px rgba(0,0,0,.5));
    background: #fff;
    z-index: 99;
    &:after{
        content: "";
        position: absolute;
        top: -7px;
        right: 32px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 20px 7px 20px;
        border-color: transparent transparent #fff transparent;
    }
    li{
        @include b(border-box);
        border-top: 1px solid #e1e6eb;
        padding-left: 15px;
        &:first-child{
            border-top: none;
        }
        a{
            display: block;
            height: 43px;
            line-height: 43px;
            font-family: 'Roboto Slab', serif;
            font-size: 13px;
            color: #4d5155;
        }
    }
    li.exit{
        background: #f1f3f4;
        a{
            color: #0b91d1;
        }
    }
}
.user-name__popup.is-open{
    display: block;
}
.necessary{
    color: #ff0000;
    font-style: normal;
}
/* -------------------------------------- //END Header ------------------------------------------ */
/* ------------------------------------- Independent blocks -------------------------------------- */
.wrapper{
    margin-top: 23px;
    border-top: 2px solid #90a2ab;
}
.h1{
    color: #51535d;
    font-size: 28px;
    font-weight: bold;
    @include text-shadow(0 1px 0 #fff);
}
.h2{
    color: #545e68;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}
.h4{
    font: 20px 'Roboto Medium', sans-serif;
    color: #545e68;
}
.navigation{
    max-width: 1200px;
    height: 36px;
    line-height: 34px;
    margin: 0 auto;
    padding: 0 20px;
    @include b(border-box);
    @include respond-to(1680){
        max-width: 1080px;
    }
    @include respond-to(1400){
        max-width: 960px;
    }
    ul{
        display: inline-block;
        margin-left: 5px;
    }
    li{
        position: relative;
        display: inline-block;
        &:after{
            content:">";
            padding-left: 5px;
            color: #979797;
        }
    }
    a{
        color: #979797;
        font-size: 15px;
        font-family: 'Roboto Slab', serif;
        &:hover{
            text-decoration: underline;
        }
    }
    .current{
        &:after{
            display: none;
        }
        a{
            color: #51535e;
        }
    } 
}
.search-options{
    position: relative;
    height: 493px;
    z-index: 3;
    background: url(../img/bg.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
    padding-top: 31px;
    @include b(border-box);
    z-index: 3;
    @include respond-to(1680){
        height: 493px*$k_1680;
        padding-top: 31px*$k_1680;
    }
    @include respond-to(1400){
        height: 493px*$k_1400;
        padding-top: 31px*$k_1400;
    }
    @include respond-to(1280){
        height: 493px*$k_1280;
        padding-top: 31px*$k_1280;
    }
    @include respond-to(1175){
        height: 493px*$k_1175;
        padding-top: 31px*$k_1175;
    } 
    @include respond-to(1000){
        height: 493px*$k_1000;
        padding-top: 31px*$k_1000;
    }
}
.search{
    @include clr;
    position: relative;
    margin: 0 6% 0 4.5%;
    span{
        float: left;
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
        font-size: 28px;
        height: 54px;
        line-height: 54px;
        color: #fff;
        @include text-shadow(0 1px 2px rgba(0,0,0,.63));
        @include respond-to(1680){
            font-size: 28px*$k_1680;
            height: 54px*$k_1680;
            line-height: 54px*$k_1680;
        }
        @include respond-to(1400){
            font-size: 28px*$k_1400;
            height: 54px*$k_1400;
            line-height: 54px*$k_1400;
        }
        @include respond-to(1280){
            font-size: 28px*$k_1280;
            height: 54px*$k_1280;
            line-height: 54px*$k_1280;
        }
        @include respond-to(1175){
            font-size: 28px*$k_1175;
            height: 54px*$k_1175;
            line-height: 54px*$k_1175;
        } 
        @include respond-to(1000){
            font-size: 28px*$k_1000;
            height: 54px*$k_1000;
            line-height: 54px*$k_1000;
        }
    }
    .search__input{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 273px;
        right: 230px;
        height: 54px;
        @include respond-to(1680){
            left: floor(273px*$k_1680);
            right: 230px*$k_1680;
            height: 54px*$k_1680;
        }
        @include respond-to(1400){
            left: floor(273px*$k_1400);
            right: 230px*$k_1400;
            height: 54px*$k_1400;
        }
        @include respond-to(1280){
            left: floor(273px*$k_1280);
            right: 230px*$k_1280;
            height: 54px*$k_1280;
        }
        @include respond-to(1175){
            left: floor(273px*$k_1175);
            right: 230px*$k_1175;
            height: 54px*$k_1175;
        } 
        @include respond-to(1000){
            left: floor(273px*$k_1000);
            right: 230px*$k_1000;
            height: 54px*$k_1000;
        }
        input{
            width: 100%;
            height: 100%;
            padding: 16px 25px;
            @include border-radius(10px);
            border: 1px solid #bebebe;
            @include box-sizing(border-box);
            font-family: 'Roboto Slab', serif;
            font-weight: 400;
            font-size: 22px;
            color: #5a5c64;
            @include respond-to(1680){
                padding: 16px*$k_1680 25px*$k_1680;
                font-size: 22px*$k_1680;
            }
            @include respond-to(1400){
                padding: 16px*$k_1400 25px*$k_1400;
                font-size: 22px*$k_1400;
            }
            @include respond-to(1280){
                padding: 16px*$k_1280 25px*$k_1280;
                font-size: 22px*$k_1280;
            }
            @include respond-to(1175){
                padding: 16px*$k_1175 25px*$k_1175;
                font-size: 22px*$k_1175;
            } 
            @include respond-to(1000){
                padding: 16px*$k_1000 25px*$k_1000;
                font-size: 22px*$k_1000;
            }
        }
    }
    input[type="submit"]{
        float: right;
        width: 209px;
        height: 54px;
        @include respond-to(1680){
            font-size: 18px*$k_1680;
            width: floor(209px*$k_1680);
            height: floor(54px*$k_1680);
        }
        @include respond-to(1400){
            font-size: 18px*$k_1400;
            width: floor(209px*$k_1400);
            height: floor(54px*$k_1400);
        }
        @include respond-to(1280){
            font-size: 18px*$k_1280;
            width: floor(209px*$k_1280);
            height: floor(54px*$k_1280);
        }
        @include respond-to(1175){
            font-size: 18px*$k_1175;
            width: floor(209px*$k_1175);
            height: floor(54px*$k_1175);
        } 
        @include respond-to(1000){
            font-size: 18px*$k_1000;
            width: floor(209px*$k_1000);
            height: floor(54px*$k_1000);
        }
    }
}
.search__results{
    margin-top: 15px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    color: #fff;
    @include respond-to(1680){
        font-size: 40px*$k_1680;
    }
    @include respond-to(1400){
        font-size: 40px*$k_1400;
    }
    @include respond-to(1280){
        font-size: 40px*$k_1280;
    }
    @include respond-to(1175){
        font-size: 40px*$k_1175;
    } 
    @include respond-to(1000){
        font-size: 40px*$k_1000;
    }
    span{
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        color: #2c2d33;
        font-size: 40px;
        @include respond-to(1680){
            font-size: 40px*$k_1680;
        }
        @include respond-to(1400){
            font-size: 40px*$k_1400;
        }
        @include respond-to(1280){
            font-size: 40px*$k_1280;
        } 
        @include respond-to(1175){
            font-size: 40px*$k_1175;
        }
        @include respond-to(1000){
            font-size: 40px*$k_1000;
        }
    }
}
.search__seo{
    text-align: center;
    font: 15px 'Roboto Slab', serif;
    text-shadow: 1px 1px 0px rgba(218, 218, 218, 0.8);
    color: #434444;
}
.wrapper-filter{
    position: relative;
    top: 5px;
    width: 1506px;
    margin: 0 auto;
    padding: 27px;
    @include box-sizing(border-box);
    border: 8px solid #403f44;
    @include border-radius(4px);
    background: rgba(108,110,121,.9);
    @include box-shadow(0 1px 6px #000, inset 0 0 1px 1px #7b7a82);
    z-index: 1;
    @include respond-to(1680){
        width: floor(1506px*$k_1680);
        padding: floor(27px*$k_1680);
        border: floor(8px*$k_1680) solid #403f44;
    }
    @include respond-to(1400){
        width: floor(1506px*$k_1400);
        // height: floor(323px*$k_1400);
        padding: floor(27px*$k_1400);
        border: floor(8px*$k_1400) solid #403f44;
    }
    @include respond-to(1280){
        width: floor(1506px*$k_1280);
        // height: floor(323px*$k_1280);
        padding: floor(27px*$k_1280);
        border: floor(8px*$k_1280) solid #403f44;
    }
    @include respond-to(1175){
        width: floor(1506px*$k_1175);
        // height: floor(323px*$k_1175);
        padding: floor(27px*$k_1175);
        border: floor(8px*$k_1175) solid #403f44;
    } 
    @include respond-to(1000){
        border-right: none;
        border-left: none;
        // height: 323px*$k_1000;
        width: 100%;
        padding: 27px*$k_1000;
        border: 8px*$k_1000 solid #403f44;
        @include border-radius(0);
        border-left: none;
        border-right: none;
    }
}
.loading{
    margin: 22px 0 0px;
    text-align: center;
}
.loading__inner{
    position: relative;
    display: inline-block;
    font: 25px 'Roboto Medium', sans-serif;
    color: #ffea01;
    text-transform: uppercase;
}
.loading__img{
    position: absolute;
    top:0;
    left:-40px;
    width: 32px;
    height: 33px;
    @include animation(round 1.5s linear infinite);
    background: url(../img/loading.png) 0 0 no-repeat;
}
// @include keyframes(round) {
//     0% {
//         @include transform(rotate(0deg));
//     }
//     100%{
//         @include transform(rotate(360deg));
//     }
// }
.row{
    @include clr;
    font-size: 0;
    margin-bottom: 38px;
    @include respond-to(1680){
        margin-bottom: 36px*$k_1680;
    }
    @include respond-to(1400){
        margin-bottom: 36px*$k_1400;
    }
    @include respond-to(1280){
        margin-bottom: 36px*$k_1280;
    }
    @include respond-to(1175){
        margin-bottom: 36px*$k_1175;
    } 
    @include respond-to(1000){
        margin-bottom: 36px*$k_1000;
    }
}
.filter{
    position: relative;
    display: inline-block;
    height: 45px;
    vertical-align: middle;
    margin-right: 12px;
    @include box-sizing(border-box);
    @include border-radius(6px);
    @include respond-to(1680){
        height: 45px*$k_1680;
        margin-right: 12px*$k_1680;
    }
    @include respond-to(1400){
        height: 45px*$k_1400;
        margin-right: 12px*$k_1400;
    }
    @include respond-to(1280){
        height: 45px*$k_1280;
        margin-right: 12px*$k_1280;
    }
    @include respond-to(1175){
        height: 45px*$k_1175;
        margin-right: 12px*$k_1175;
    } 
    @include respond-to(1000){
        height: 45px*$k_1000;
        margin-right: 12px*$k_1000;
    }
}
.filter-kind{
    cursor: pointer;
    .filter__title {
        width: 61px;
        @include respond-to(1680){
            width: floor(61px*$k_1680);
        }
        @include respond-to(1400){
            width: floor(61px*$k_1400);
        }
        @include respond-to(1280){
            width: floor(61px*$k_1280);
        }
        @include respond-to(1175){
            width: floor(61px*$k_1175);
        } 
        @include respond-to(1000){
            width: floor(61px*$k_1000);
        }
    }  
}
.filter__title{
    position: relative;
    top: -1px;
    float: left;
    line-height: 45px;
    @include border-radius(7px 1px 1px 7px);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #5a5c64;
    text-align: center;
    border: 1px solid #0294a2;
    background: #07c9db;
    @include b(border-box);
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.42));
    @include background-image(linear-gradient(bottom, #44c0fe 0%, #63e2fa 100%));
    @include respond-to(1680){
        font-size: 16px*$k_1680;
        line-height: floor(45px*$k_1680);
    }
    @include respond-to(1400){
        font-size: 16px*$k_1400;
        line-height: floor(45px*$k_1400);
    }
    @include respond-to(1280){
        font-size: 16px*$k_1280;
        line-height: floor(45px*$k_1280);
    }
    @include respond-to(1175){
        font-size: 16px*$k_1175;
        line-height: floor(45px*$k_1175);
    }
    @include respond-to(1000){
        font-size: 16px*$k_1000;
        line-height: floor(45px*$k_1000);
    }
}
.filter__value{
    float: left;
    padding: 0 10px;
    width: 80px;
    height: 45px;
    line-height: 45px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    text-overflow: ellipsis;
    font-family: 'Roboto Slab', serif;
    color: #5a5c64;
    background: #e3e4ec;
    @include background-image(linear-gradient(bottom, #d9dae4 0%, #f5f5f8 100%));
    @include respond-to(1680){
        padding: 0 10px*$k_1680;
        width: 80px*$k_1680;
        height: floor(45px*$k_1680);
        line-height: floor(45px*$k_1680);
        font-size: 16px*$k_1680;
    }
    @include respond-to(1400){
        padding: 0 10px*$k_1400;
        width: 80px*$k_1400;
        height: floor(45px*$k_1400);
        line-height: floor(45px*$k_1400);
        font-size: 16px*$k_1400;
    }
    @include respond-to(1280){
        padding: 0 10px*$k_1280;
        width: 80px*$k_1280;
        height: floor(45px*$k_1280);
        line-height: floor(45px*$k_1280);
        font-size: 16px*$k_1280;
    }
    @include respond-to(1175){
        padding: 0 10px*$k_1175;
        width: 80px*$k_1175;
        height: floor(45px*$k_1175);
        line-height: floor(45px*$k_1175);
        font-size: 16px*$k_1175;
    }
    @include respond-to(1000){
        padding: 0 10px*$k_1000;
        width: 70px;
        height: floor(45px*$k_1000);
        line-height: floor(45px*$k_1000);
        font-size: 10px;
    }
}
.filter__arrow, .filter__plus{
    position: relative;
    float: left;
    width: 25px;
    height: 45px;
    @include b(border-box);
    border: 1px solid #3b4148;
    @include border-radius(1px 7px 7px 0);
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.17));
    background: #3f3f43;
    @include background-image(linear-gradient(top, #505860 0%, #292f36 100%));
    @include respond-to(1680){
        width: 25px*$k_1680;
        height: 45px*$k_1680;
    }
    @include respond-to(1400){
        width: 25px*$k_1400;
        height: 45px*$k_1400;
    }
    @include respond-to(1280){
        width: 25px*$k_1280;
        height: 45px*$k_1280;
    }
    @include respond-to(1175){
        width: 25px*$k_1175;
        height: 45px*$k_1175;
    }
    @include respond-to(1000){
        width: 25px*$k_1000;
        height: 45px*$k_1000;
    }
    &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -3px 0 0 -6px;
        @include s($icons, arr-down);
    }
}
.filter__plus:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3px 0 0 -6px;
    @include s($icons, plus);
}
.filter-kind__popup{
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    width: 186px;
    overflow: hidden;
    @include box-sizing(border-box);
    @include border-radius(6px);
    border: 1px solid #000;
    background: #e3e4ec;
    li{
        height: 45px;
        line-height: 45px;
        padding: 0 10px;
        font-size: 16px;
        font-weight: 400;
        color: #5a5c64;
        &:hover{
            background: darken(#e3e4ec, 10%);
            color: darken(#5a5c64, 10%);
        }
        &:first-child{
            @include border-radius(6px 6px 0 0);
        }
        &:last-child{
            @include border-radius(0 0 6px 6px);
        }
    }
}
.filter-kind__popup.is-opened{
    display: block;
}
.filter-from, .filter-to{
    input{
        height: 45px;
        width: 95px;
        border-radius: 0 6px 6px 0;
        @include box-sizing(border-box);
        padding: 0 5px;
        text-align: center;
        background: #e3e4ec;
        @include background-image(linear-gradient(bottom, #d9dae4 0%, #f5f5f8 100%));
        font: 400 16px 'Roboto Slab', serif;
        color: #5a5c64;
        @include respond-to(1680){
            height: floor(45px*$k_1680);
            width: 95px*$k_1680;
            padding: 0 5px*$k_1680;
        }
        @include respond-to(1400){
            height: floor(45px*$k_1400);
            width: 95px*$k_1400;
            padding: 0 5px*$k_1400;
        }
        @include respond-to(1280){
            height: floor(45px*$k_1280);
            width: 95px*$k_1280;
            padding: 0 5px*$k_1280;
        }
        @include respond-to(1175){
            height: floor(45px*$k_1175);
            width: 95px*$k_1175;
            padding: 0 5px*$k_1175;
        }
        @include respond-to(1000){
            height: floor(45px*$k_1000);
            width: 90px;
            padding: 0 5px*$k_1000;
        }
    }
}
.filter-from {
    .filter__title {
        width: 40px;
        @include respond-to(1680){
            width: 40px*$k_1680;
        }
        @include respond-to(1400){
            width: 40px*$k_1400;
        }
        @include respond-to(1280){
            width: 40px*$k_1280;
        }
        @include respond-to(1175){
            width: 40px*$k_1175;
        }
        @include respond-to(1000){
            width: 40px*$k_1000;
        }
    }
}
.filter-to {
    .filter__title {
        width: 52px;
        @include respond-to(1680){
            width: 52px*$k_1680;
        }
        @include respond-to(1400){
            width: 52px*$k_1400;
        }
        @include respond-to(1280){
            width: 52px*$k_1280;
        }
        @include respond-to(1175){
            width: 52px*$k_1175;
        }
        @include respond-to(1000){
            width: 52px*$k_1000;
        }
    }
}
.filter-rooms {
    position: relative;
    .filter-rooms__overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include border-radius(6px);
        background: rgba(0,0,0,.3);
        z-index: 2;
    }
    .filter__title {
        position: relative;
        width: 95px;
        z-index: 1;
        @include respond-to(1680){
            width: 95px*$k_1680;
        }
        @include respond-to(1400){
            width: 95px*$k_1400;
        }
        @include respond-to(1280){
            width: 95px*$k_1280;
        }
        @include respond-to(1175){
            width: 95px*$k_1175;
        }
        @include respond-to(1000){
            width: 95px*$k_1000;
        }
    }
}
.filter-guests {
    .filter__title {
        width: 89px;
        @include respond-to(1680){
            width: 89px*$k_1680;
        }
        @include respond-to(1400){
            width: 89px*$k_1400;
        }
        @include respond-to(1280){
            width: 89px*$k_1280;
        }
        @include respond-to(1175){
            width: 89px*$k_1175;
        }
        @include respond-to(1000){
            width: 89px*$k_1000;
        }
    }
}
.filter-metro {
    .filter__title {
        width: 83px;
        @include respond-to(1680){
            width: 83px*$k_1680;
        }
        @include respond-to(1400){
            width: 83px*$k_1400;
        }
        @include respond-to(1280){
            width: 83px*$k_1280;
        }
        @include respond-to(1175){
            width: 83px*$k_1175;
        }
        @include respond-to(1000){
            width: 83px*$k_1000;
        }
    }
}
// =================== BEGIN styles for datepicker =================
.ui-datepicker{
    display: none;
    width: 293px;
    margin: 10px 0 0 -40px;
    @include border-radius(6px 6px 0 0);
    @include clr;
    z-index: 100!important;
}
.ui-datepicker-header{
    position: relative;
    height: 36px;
    @include border-radius(6px 6px 0 0);
    background: #e1e6ea;

}
.ui-datepicker-prev{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 26px;
    @include user-select;
    span{
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -5px;
        @include s($icons, prev);
        @include hide-text;
    } 
}
.ui-datepicker-next{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 26px;
    @include user-select;
    span{
        position: absolute;
        top: 50%;
        left: 10px;
        margin-top: -5px;
        @include s($icons, next);
        @include hide-text;
    } 
}
.ui-datepicker-title{
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #51535e;
}
.ui-datepicker-calendar{
    width: 293px;
    background: #fff;
    thead{
        display: none;
    }
    td{
        width: 39px;
        height: 39px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #cfd4d8;
        a{
            position: relative;
            display: block;
            height: 100%;
            width: 100%;
            line-height: 40px;
            font-weight: bold;
            color: #51535e;
            &:hover{
                background: darken(#fff, 10%);
            }
        }
        .ui-state-active.selected-begin{
            background: #ffea01 url(../img/b_t.png) 0 0 no-repeat;
            background-size: cover;
        }
        .ui-state-active.selected-end{
            background: #ffea01 url(../img/t_b.png) 0 0 no-repeat;
            background-size: cover;
        }
        .engaged-begin{
            background: url(../img/t_k.png) 0 0 no-repeat;
            background-size: cover;
        }
        .engaged{
            background: #ffcdce;
        }
        .engaged-end{
            background: url(../img/k_t.png) 0 0 no-repeat;
            background-size: cover;
        }
        .special-price-begin{
            background: url(../img/b_s.png) 0 0 no-repeat;
            background-size: cover;
        }
        .special-price{
            background: #bbf6cf;
        }
        .special-price-end{
            background: url(../img/s_t.png) 0 0 no-repeat;
            background-size: cover;
        }
        .special-price.ui-state-active{
            background: #ffea01;
            &:after{
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                height: 12px;
                background: #149f14;
                @include respond-to(1680){
                    height: 11px;
                }
            }
        }
        .ui-state-active.special-price-begin{
            background: #ffea01 url(../img/t_t_z.png) 0% 0% no-repeat;
            background-size: cover;
        }
        .ui-state-active.sp-before{
            background: #ffea01 url(../img/s_t.png) 0% 0% no-repeat;
            background-size: cover;
        }
        .ui-state-active.special-price-begin.sp-before{
            background: #ffea01 url(../img/s_z_t.png) 0% 0% no-repeat;
            background-size: cover;
        }
        .ui-state-active.eng-before{
            background: #ffea01 url(../img/k_t.png) 0% 0% no-repeat;
            background-size: cover;
        }
        .ui-state-active.special-price-begin.eng-before{
            background: #ffea01 url(../img/k_z_t.png) 0% 0% no-repeat;
            background-size: cover;
        }
        .ui-state-active.sp-after{
            background: #ffea01 url(../img/t_s.png) 0% 0% no-repeat;
            background-size: cover;
        }
        .ui-state-active.special-price-end.sp-after{
            background: #ffea01 url(../img/z_t_s.png) 0% 0% no-repeat;
            background-size: cover;
        }
        .ui-state-active.eng-after{
            background: #ffea01 url(../img/t_k.png) 0% 0% no-repeat;
            background-size: cover;
        }
        .ui-state-active.special-price-end.eng-after{
            background: #ffea01 url(../img/z_t_k.png) 0% 0% no-repeat;
            background-size: cover;
        }
        .ui-state-active.special-price-end{
            background: #ffea01 url(../img/z_t_t.png) 100% 0% no-repeat;
            background-size: cover;
        }
        .sp-to-eng{
            background: url(../img/k_s.png) 100% 0% no-repeat;
            background-size: cover;
        }
        .eng-to-sp{
            background: url(../img/s_k.png) 100% 0% no-repeat;
            background-size: cover;
        }
    }
}
td.ui-datepicker-unselectable{
    color: #cecfd4;
}
td.ui-datepicker-current-day{
    background: #ffea01;
    color: #000;
    a{
        background: inherit;
        &:hover{
           background: inherit; 
        }
    }
    &:hover{
        background: #ffea01;
    }
}
.ui-datepicker-group-first{
    float: left;
}
.ui-datepicker-group-last{
    float: right;
}
.ui-state-active{
    background: #ffea01;
}
// =============== END styles for datepicker ===================

.filter-rooms__list{
    float: left;
    @include border-radius(0 6px 6px 0);
    background: #e3e4ec;
    @include background-image(linear-gradient(bottom, #d9dae4 0%, #f5f5f8 100%));
    overflow: hidden;
    li{
        display: inline-block;
        width: 55px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        font-size: 16px;
        font-family: 'Roboto Slab', serif;
        color: #5a5c64;
        cursor: pointer;
        @include respond-to(1680){
            width: 55px*$k_1680;
            height: 45px*$k_1680;
            line-height: 45px*$k_1680;
            font-size: 16px*$k_1680;
        }
        @include respond-to(1400){
            width: 55px*$k_1400;
            height: 45px*$k_1400;
            line-height: 45px*$k_1400;
            font-size: 16px*$k_1400;
        }
        @include respond-to(1280){
            width: 55px*$k_1280;
            height: 45px*$k_1280;
            line-height: 45px*$k_1280;
            font-size: 16px*$k_1280;
        }
        @include respond-to(1175){
            width: 55px*$k_1175;
            height: 45px*$k_1175;
            line-height: 45px*$k_1175;
            font-size: 16px*$k_1175;
        }
        @include respond-to(1000){
            width: 55px*$k_1000;
            height: 45px*$k_1000;
            line-height: 45px*$k_1000;
            font-size: 16px*$k_1000;
        }
        &:hover{
            background: darken(#e3e4ec, 10%);
            @include background-image(linear-gradient(top, #d9dae4 0%, #f5f5f8 100%));
        }
    }
    li.is-selected{
        @include box-shadow(inset 0 1px 0 #fff);
        background: #ffea01;
        @include background-image(linear-gradient(top, #ccbb03 0%, #f7e301 100%));
    }
}
.filter-guests{
    input{
        position: relative;
        height: 45px;
        width: 60px;
        border-radius: 0 6px 6px 0;
        @include box-sizing(border-box);
        padding: 0 25px 0 10px;
        background: #e3e4ec;
        @include background-image(linear-gradient(bottom, #d9dae4 0%, #f5f5f8 100%));
        font: 400 16px 'Roboto Slab', serif;
        color: #5a5c64;
        @include respond-to(1680){
            height: floor(45px*$k_1680);
            width: 60px*$k_1680;
            font-size: 16px*$k_1680;
            padding: 0 25px*$k_1680 0 10px*$k_1680;
        }
        @include respond-to(1400){
            height: floor(45px*$k_1400);
            width: 60px*$k_1400;
            font-size: 16px*$k_1400;
            padding: 0 25px*$k_1400 0 10px*$k_1400;
        }
        @include respond-to(1280){
            height: floor(45px*$k_1280);
            width: 60px*$k_1280;
            font-size: 16px*$k_1280;
            padding: 0 25px*$k_1280 0 10px*$k_1280;
        }
        @include respond-to(1175){
            height: floor(45px*$k_1175);
            width: 60px*$k_1175;
            font-size: 16px*$k_1175;
            padding: 0 25px*$k_1175 0 10px*$k_1175;
        } 
        @include respond-to(1000){
            height: floor(45px*$k_1000);
            width: 60px*$k_1000;
            font-size: 16px*$k_1000;
            padding: 0 25px*$k_1000 0 10px*$k_1000;
        }
    }
}
// ================ BEGIN styles for spinner =======================
.ui-spinner{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 45px!important;
    @include respond-to(1680){
        width: 60px*$k_1680;
        height: 45px*$k_1680 !important;   
    }
    @include respond-to(1400){
        width: 60px*$k_1400;
        height: 45px*$k_1400 !important; 
    }
    @include respond-to(1280){
        width: 60px*$k_1280;
        height: 45px*$k_1280 !important; 
    }
    @include respond-to(1175){
        width: 60px*$k_1175;
        height: 45px*$k_1175 !important; 
    } 
    @include respond-to(1000){
        width: 60px*$k_1000;
        height: 45px*$k_1000 !important; 
    }
}
.ui-spinner-up{
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 22px;
    @include b(border-box);
    border: 1px solid #3b4148;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.17));
    background: #3f3f43;
    @include background-image(linear-gradient(top, #505860 0%, #292f36 100%));
    @include border-radius(0 5px 0 0);
    cursor: pointer;
    &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -4px 0 0 -4px;
        @include s($icons, plus);
    }
    @include respond-to(1680){
        width: 25px*$k_1680;
        height: 22px*$k_1680;  
    }
    @include respond-to(1400){
        width: 25px*$k_1400;
        height: 22px*$k_1400; 
    }
    @include respond-to(1280){
        width: 25px*$k_1280;
        height: 22px*$k_1280; 
    }
    @include respond-to(1175){
        width: 25px*$k_1175;
        height: 22px*$k_1175; 
    } 
    @include respond-to(1000){
        width: 25px*$k_1000;
        height: 22px*$k_1000; 
    }
}
.ui-spinner-down{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 22px;
    @include border-radius(0 0 5px 0);
    @include b(border-box);
    border: 1px solid #3b4148;
    @include box-shadow(inset 0 -1px 0 rgba(255,255,255,.17));
    background: #3f3f43;
    @include background-image(linear-gradient(top, #505860 0%, #292f36 100%));
    cursor: pointer;
    @include respond-to(1680){
        width: 25px*$k_1680;
        height: 22px*$k_1680;  
    }
    @include respond-to(1400){
        width: 25px*$k_1400;
        height: 22px*$k_1400; 
    }
    @include respond-to(1280){
        width: 25px*$k_1280;
        height: 22px*$k_1280; 
    }
    @include respond-to(1175){
        width: 25px*$k_1175;
        height: 22px*$k_1175; 
    } 
    @include respond-to(1000){
        width: 25px*$k_1000;
        height: 22px*$k_1000; 
    }
    &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1px 0 0 -4px;
        @include s($icons, minus);
    }
}
.ui-button-text{
    display: none;
}
// ================ END styles for spinner =======================
.filter-metro{
    cursor: pointer;
    margin-right: 0;
}
.filter__value_metro{
    width: 313px;
    @include box-shadow(inset 0 2px 3px rgba(0,0,0,.34));
    @include respond-to(1680){
        width: 313px*$k_1680;  
    }
    @include respond-to(1400){
        width: 313px*$k_1400; 
    }
    @include respond-to(1280){
        width: 313px*$k_1280; 
    }
    @include respond-to(1175){
        width: 313px*$k_1175; 
    } 
    @include respond-to(1000){
        width: 124px; 
    }
}
// ================= facilities styles ==========================
.facilities{
    @include clr;
    font: 400 16px 'Roboto Slab', serif;
    @include respond-to(1680){
        font-size: 16px*$k_1680;  
    }
    @include respond-to(1400){
        font-size: 16px*$k_1400; 
    }
    @include respond-to(1280){
        font-size: 16px*$k_1280; 
    }
    @include respond-to(1175){
        font-size: 16px*$k_1175; 
    } 
    @include respond-to(1000){
        font-size: 16px*$k_1000; 
    }
    li{
        float: left;
        padding-left: 8px;
        width: 10%;
        height: 47px;
        line-height: 47px;
        @include box-sizing(border-box);
        text-align: center;
        @include respond-to(1680){
            padding-left: 8px*$k_1680;
            height: 47px*$k_1680;
            line-height: 47px*$k_1680;  
        }
        @include respond-to(1400){
            padding-left: 8px*$k_1400;
            height: 47px*$k_1400;
            line-height: 47px*$k_1400; 
        }
        @include respond-to(1280){
            padding-left: 8px*$k_1280;
            height: 47px*$k_1280;
            line-height: 47px*$k_1280; 
        }
        @include respond-to(1175){
            padding-left: 8px*$k_1175;
            height: 47px*$k_1175;
            line-height: 47px*$k_1175; 
        } 
        @include respond-to(1000){
            padding-left: 8px*$k_1000;
            height: 47px*$k_1000;
            line-height: 47px*$k_1000; 
    }
        &:first-child{
            padding-left: 0;
        }
        p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #212527;
            font-weight: bold;
            cursor: pointer;
            font-size: 16px;
            @include text-shadow(0 1px 0 rgba(255,255,255,.42));
            border: 1px solid #5f5d62;
            @include border-radius(7px);
            background: #c4c1c9;
            @include box-shadow(0 1px 2px rgba(0,0,0,.27), inset 0 1px 0 rgba(255,255,255,.95));
            @include background-image(linear-gradient(bottom, #afabb4 0%, #d2d0d5 100%));
            @include respond-to(1680){
                font-size: 14px;
            }
            @include respond-to(1400){
                font-size: 13px;
            }
            @include respond-to(1280){
                font-size: 12px;
            }
            @include respond-to(1175){
                font-size: 11px;
            }
            &:hover{
                background: darken(#c4c1c9, 5%);
                @include background-image(linear-gradient(top, #afabb4 0%, #d2d0d5 100%));
            }
        }
    }   
}
.facilities__item{
    @include user-select;
    @include respond-to(1680){
        font-size: 16px*$k_1680;
    }
    @include respond-to(1400){
        font-size: 16px*$k_1400;
    }
    @include respond-to(1280){
        font-size: 16px*$k_1280;
    }
    @include respond-to(1175){
        font-size: 16px*$k_1175;
    }
    @include respond-to(1000){
        font-size: 16px*$k_1000;
    }
}
.facilities__item.is-selected{
    p{
        background: #ffe901;
        @include background-image(linear-gradient(bottom, #ffe901 -24.5%, #c4b403 124.5%));
        border: 1px solid #575001;
        @include background-image(linear-gradient(bottom, #ffe901 -24.5%, #c4b403 124.5%));
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,.68));
        color: #5a5c64;
        &:hover{
            background: darken(#ffea01, 5%);
            @include background-image(linear-gradient(top, #ffe901 -24.5%, #c4b403 124.5%));
        }
    }
}
li.facilities__more{
    position: relative;
    .facilities__open-services{
        background: #00e7fc;
        font: 500 16px 'Roboto', sans-serif;
        text-transform: uppercase;
        line-height: 45px;
        text-align: left;
        padding: 0 16px;
        @include b(border-box);
        background: #55575f;
        @include background-image(linear-gradient(bottom, #39434d -24.5%, #69737e 124.5%));
        border: 1px solid #383a3b;
        @include box-shadow(0 2px 3px rgba(27,30,32,.67), inset 0 1px 0 rgba(255,255,255,.64));
        color: #fff;
        @include text-shadow(none);
        @include respond-to(1680){
            font-size: 16px*$k_1680;
            line-height: 45px*$k_1680;
            padding: 0 16px 0 8px;
        }
        @include respond-to(1400){
            font-size: 16px*$k_1400;
            line-height: 45px*$k_1400;
        }
        @include respond-to(1280){
            font-size: 16px*$k_1280;
            line-height: 45px*$k_1280;
        }
        @include respond-to(1175){
            font-size: 10px;
            line-height: 45px*$k_1175;
        }
        @include respond-to(1000){
            font-size: 16px*$k_1000;
            line-height: 45px*$k_1000;
        }
        &:hover{
            background: darken(#55575f, 10%);
            @include background-image(linear-gradient(top, #39434d -24.5%, #69737e 124.5%));
        }
    }
    p.facilities__counter{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 36px;
        border: 1px solid #454447;
        @include border-radius(1px 7px 7px 1px);
        background: #ffe901;
        @include box-shadow(inset 0 1px 0 #fff);
        @include background-image(linear-gradient(bottom, #ffe901 -24.5%, #c4b403 124.5%));
        padding: 0;
        text-align: center;
        color: #000;
        @include respond-to(1400){
            width: 32px;
        }
        @include respond-to(1175){
            width: 26px;
        }
    }
    p.filter__plus{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 36px;
        height: 47px;
        @include b(border-box);
        border: 1px solid #3b4148;
        @include border-radius(1px 7px 7px 0);
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,.17));
        background: #3f3f43;
        @include background-image(linear-gradient(top, #505860 0%, #292f36 100%));
        @include respond-to(1680){
            width: 27px;
            height: 41px;
        }
        @include respond-to(1400){
            height: 36px;
        }
        @include respond-to(1175){
            height: 32px;
        }
        @include respond-to(1000){
            height: 34px;
        }
    }
}
li.facilities__more.selected{
    p.filter__plus{
        display: none;
    }
    p.facilities__counter{
        display: block;
    }
}
.price{
    margin-top: -8px;
}
.price__title{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    span{
        text-transform: uppercase;
    }
    strong{
        font-weight: 700;
        color: #ffea01;
    }
    @include respond-to(1680){
        font-size: 20px*$k_1680;
    }
    @include respond-to(1400){
        font-size: 20px*$k_1400;
    }
    @include respond-to(1280){
        font-size: 20px*$k_1280;
    }
    @include respond-to(1175){
        font-size: 20px*$k_1175;
    }
    @include respond-to(1000){
        font-size: 20px*$k_1000;
    }

}
// BEGIN styles for range slider
.price__slider{
    position: relative;
    width: 94%;
    height: 19px;
    @include border-radius(9px);
    background: #2c2d33;
    margin: 22px auto 13px;
    @include respond-to(1680){
        height: 19px*$k_1680;
        margin: 28px*$k_1680 auto 13px*$k_1680;
    }
    @include respond-to(1400){
        height: 19px*$k_1400;
        margin: 28px*$k_1400 auto 13px*$k_1400;
    }
    @include respond-to(1280){
        height: 19px*$k_1280;
        margin: 28px*$k_1280 auto 13px*$k_1280;
    }
    @include respond-to(1175){
        height: 19px*$k_1175;
        margin: 28px*$k_1175 auto 13px*$k_1175;
    }
    @include respond-to(1000){
        height: 19px*$k_1000;
        margin: 28px*$k_1000 auto 13px*$k_1000;
    }
}
.ui-slider-range{
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    background: #ffea01;
    @include border-radius(9px);
}
.ui-slider-handle{
    position: absolute;
    z-index: 2;
    width: 39px;
    height: 39px;
    margin: -12px 0 0 -19px;
    @include border-radius(50%);
    background: #07c9db;
    @include background-image(linear-gradient(bottom, #45c1fe 0%, #63e2fa 100%));
    @include box-shadow(inset 0 1px 0 #e1f8fc);
    cursor: default;
    border: 1px solid #1c8996;
    @include respond-to(1680){
        width: 39px*$k_1680;
        height: 39px*$k_1680;
        margin: -12px*$k_1680 0 0 -19px*$k_1680;
    }
    @include respond-to(1400){
        width: 39px*$k_1400;
        height: 39px*$k_1400;
        margin: -12px*$k_1400 0 0 -19px*$k_1400;
    }
    @include respond-to(1280){
        width: 39px*$k_1280;
        height: 39px*$k_1280;
        margin: -12px*$k_1280 0 0 -19px*$k_1280;
    }
    @include respond-to(1175){
        width: 39px*$k_1175;
        height: 39px*$k_1175;
        margin: -12px*$k_1175 0 0 -19px*$k_1175;
    } 
    @include respond-to(1000){
        width: 39px*$k_1000;
        height: 39px*$k_1000;
        margin: -12px*$k_1000 0 0 -19px*$k_1000;
    }
}
// END styles for range slider
.price__grid{
    position: relative;
    width: 94%;
    margin: 0 auto;
    height: 6px;
    padding: 4px 0;
    background: url(../img/grid.png) -8px 4px no-repeat;
    @include respond-to(1680){
        height: 6px*$k_1680;
        font-size: 16px*$k_1680;
        padding: 4px*$k_1680 0;
        background: url(../img/grid.png) -8px*$k_1680 4px*$k_1680 no-repeat;
    }
    @include respond-to(1400){
        height: 6px*$k_1400;
        font-size: 16px*$k_1400;
        padding: 4px*$k_1400 0;
        background: url(../img/grid.png) -8px*$k_1400 4px*$k_1400 no-repeat;
    }
    @include respond-to(1280){
        height: 6px*$k_1280;
        font-size: 16px*$k_1280;
        padding: 4px*$k_1280 0;
        background: url(../img/grid.png) -8px*$k_1280 4px*$k_1280 no-repeat;
    }
    @include respond-to(1175){
        height: 6px*$k_1175;
        font-size: 16px*$k_1175;
        padding: 4px*$k_1175 0;
        background: url(../img/grid.png) -8px*$k_1175 4px*$k_1175 no-repeat;
    } 
    @include respond-to(1000){
        height: 6px*$k_1000;
        font-size: 16px*$k_1000;
        padding: 4px*$k_1000 0;
        background: url(../img/grid.png) -8px*$k_1000 4px*$k_1000 no-repeat;
    }
    .min-value{
        position: absolute;
        top: -4px;
        left: 0%;
        margin-left: -9px;
        font-weight: 500;
        color: #fff;
    }
    .mid-value{
        position: absolute;
        top: -4px;
        left: 50%;
        margin-left: -23px;
        font-weight: 500;
        color: #fff;
    }
    .max-value{
        position: absolute;
        top: -4px;
        right: 0;
        margin-left: -29px;
        font-weight: 500;
        color: #fff;
    }
}
.button{
    width: 233px;
    height: 68px;
    padding: 0 20px;
    border: 1px solid #188ab1;
    @include border-radius(10px);
    @include box-shadow(0 2px 3px rgba(4,67,92,.67), inset 0 1px 0 rgba(255,255,255,.64));
    background: #00e7fb;
    @include background-image(linear-gradient(bottom, #44c0fe 0%, #63e2fa 100%));
    color: #51535e;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    @include text-shadow(2px 0 0 rgba(255, 255, 255, 0.5));
    &:active{
        @include background-image(linear-gradient(top, #44c0fe 0%, #63e2fa 100%));
    }
    @include respond-to(1400){
        width: 210px;
        height: 62px;
        font-size: 18px;
    }
}
.button.inactive{
    border: 1px solid #50c5de;
    background: #00e7fb;
    @include box-shadow(0 2px 3px rgba(13,150,206,.67), inset 0 1px 0 rgba(255,255,255,.64));
    @include background-image(linear-gradient(bottom, #a1dffd 0%, #afeffb 100%));
    color: #fff;
    @include text-shadow(0 1px 0 rgba(0,0,0,.18));
    cursor: default;
}
.button_grey{
    background: #55575f;
    @include background-image(linear-gradient(bottom, #39434d -24.5%, #69737e 124.5%));
    border: 1px solid #383a3b;
    @include box-shadow(0 2px 3px rgba(27, 30, 32, 0.67), inset 0 1px 0 rgba(255, 255, 255, 0.64));
    @include text-shadow(none);
    color: #fff;
    &:active{
        background: darken(#55575f, 5%);
        @include background-image(linear-gradient(top, #39434d -24.5%, #69737e 124.5%));
    }
}
.button_yellow{
    background: #f6e201;
    border: 1px solid #d2c001;
    background: #00e7fb;;
    @include box-shadow(0 2px 3px rgba(27, 30, 32, 0.67), inset 0 1px 0 rgba(255,255,255,.68));
    @include background-image(linear-gradient(bottom, #edd901 0%, #ffe901 100%));
    &:active{
        background: darken(#00e7fb, 5%);
        @include background-image(linear-gradient(top, #edd901 0%, #ffe901 100%));
    }
}
.button_no-shadow{
    @include box-shadow(none);
}
.button_big{
    width: 327px;
    height: 84px;
    font-size: 27px;
}
.button_reg{
    width: 207px!important;
    font-size: 15px;   
}
.button_small{
    width: auto;
    padding: 0 13px;
    height: 26px;
    @include border-radius(5px);
    font-size: 11px;
}
.cell{
    width: 221px;
    height: 47px;
    border: 1px solid #88858b;
    @include border-radius(7px);
    @include box-shadow(0 1px 2px rgba(0,0,0,.42), inset 0 1px 0 #fff);
    background: #c4c1c8;
    @include background-image(linear-gradient(top, #d2d0d5 0%, #afabb4 100%));
    color: #18191b;
    font-family: "RobotoSlab", serif;
    font-size: 17px;
    font-weight: bold;
    &:active{
        @include background-image(linear-gradient(bottom, #d2d0d5 0%, #afabb4 100%));
    }
    @include respond-to(1400){
        width: 170px;
        height: 48px;
        font-size: 14px;
    }
}
.square{
    position: relative;
    &:after{
        content: "2";
        position: absolute;
        top: -20px;
        right: -8px;
        font-size: 12px;
    }
    
}
.login-popup{
    position: absolute;
    top: 55px;
    right: 194px;
    width: 327px;
    @include border-radius(13px 13px 0 0);
    background: #fff;
    @include box-shadow(0 1px 5px rgba(0,0,0,.5));
    z-index: 99;
    &:after{
        content: "";
        position: absolute;
        top: -7px;
        right: 32px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 20px 7px 20px;
        border-color: transparent transparent #e1e6eb transparent;
    }
}
.registration-popup{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 408px;
    margin-left: -204px;
    &:after{
        content:"";
        display: none;
    }
    .login-popup__submit{
        a{
            width: 25%;
        }
    }
}
.alert-popup{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 372px;
    margin-left: -186px;
    &:after{
        content: "";
        display: none;
    }
    .login-popup__content{
        text-align: center;
        padding: 14px 14px 30px 20px;
        p{
            margin-bottom: 20px;
            font: 300 15px 'Roboto Slab', serif;
            color: #51535e;
            a{
                color: #000;
                font-weight: bold;
            }
        }
    }
    .button{
        width: 207px;
        height: 40px;
        font-size: 16px;
    }
}
.recovery-popup, .call-back-popup{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 372px;
    margin-left: -186px;
    @include border-radius(13px 13px 0 0);
    background: #fff;
    @include box-shadow(0 1px 5px rgba(0,0,0,.5));
    z-index: 99;
    .login-popup__submit{
        a{
            width: auto;
        }
        .button{
            width: 207px;
            font-size: 18px;
        }
    }
}
.call-back-popup{
    width: 430px;
    margin-left: -215px;
    .textarea{
        height: 60px;
        max-height: 60px;
        max-width: 74%;
    }
    .checkbox{
        margin: -10px 0 20px 25%;
        span{
            padding-left: 25px;
        }
    } 
}
.call-back__input{
    input{
        width: 100%;
        height: 39px;
        line-height: 39px;
        margin-bottom: -10px;
        @include b(border-box);
        padding: 0 10px;
        background: #e1e6eb;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        color: #51535e;
        cursor: pointer;
    }
    label{
        position: relative;
        display: inline-block;
        width: 74%;
        &:after{
            content: "";
            position: absolute;
            top: 8px;
            right: 13px;
            @include s($icons, calendar);
            cursor: pointer;
        }
    }
}
.recovery-alert{
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #51535f;
    font-style: italic;  
}
.alert-popup_error{
    .login-popup__title{
        background: #e23347;
        color: #fff;
    }
    .login-popup__content{
        background: #f6e7e7;
    }
}
.login-popup__close{
    position: absolute;
    top: 8px;
    right: 8px;
    @include s($icons, close-popup);
    cursor: pointer;
}
.login-popup__title{
    height: 35px;
    line-height: 35px;
    @include border-radius(13px 13px 0 0);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #4d5155;
    background-color: #e0e5eb;
}
.login-popup__content{
    padding: 15px 14px 20px 20px;
}
.l-input, .l-textarea{
    position: relative;
    margin-bottom: 26px;
    span{
        display: inline-block;
        vertical-align: middle;
        width: 24%;
        font-weight: bold;
        font-size: 17px;
        color: #4d5155;
        line-height: 14px;
    }
    .input__error{
        position: relative;
        left: 25%;
        width: 75%;
        @include b(border-box);
        font: 12px 'Roboto Slab', serif;
        color: #ff0000;
    }
}
.l-textarea{
    span{
        vertical-align: top;
        line-height: 1;
    }
}
.input, .textarea{
    width: 74%;
    height: 27px;
    padding: 0 5px;
    @include b(border-box);
    @include border-radius(4px);
    border: none;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    background: #eef2f6;
    @include box-shadow(0 1px 0 #fff, inset 0 1px 2px #b9b9b9);
}

.login-popup__forgot-pass{
    font: 300 14px 'Roboto Slab', serif;
    color: #000;
    text-align: right;
    margin: -8px 0 0;
    a{
        font-weight: 400;
        text-decoration: underline;
        color: #000;
    }
}
.login-popup__submit{
    margin-top: 15px;
    @include clr;
    a{
        float: left;
        width: 45%;
        text-align: right;
        margin-top: 8px;
        color: #51535e;
        text-transform: uppercase;
        text-decoration: underline;
    } 
    .button{
        float: right;
        width: 143px;
        height: 40px;
    }  
}
.call-back-popup__submit{
    padding-left: 25%;
    margin-top: 15px;
    @include b(border-box);
    .button{
        height: 40px;
        width: auto;
    }
}
.login-popup__socials{
    padding: 12px 26px 24px;
    border-top: 1px solid #e1e6eb;
    background: #f1f3f4;
    p{
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #51535e;
        padding-bottom: 20px;
    }
    ul{
        font-size: 0;
    }
    li{
        display: inline-block;
        width: 25%;
        text-align: center;
        @include b(border-box);
    }
    .button{
        position: relative;
        width: 50px;
        height: 40px;
    }
    .f{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -12px 0 0 -6px; 
        @include s($icons, f);
    }
    .tw{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -11px 0 0 -15px; 
        @include s($icons, tw);
    }
    .g{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -13px 0 0 -13px; 
        @include s($icons, g);
    }
    .vk{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -12px 0 0 -9px; 
        @include s($icons, vk);
    }
}
.payment_systems{
    @include clr;
    margin-bottom: 33px;
    li{
        position: relative;
        float: left;
        margin-left: 10px;
        height: 55px;
        line-height: 55px;
        text-align: center;
        vertical-align: middle;
        background: #fff;
        @include border-radius(7px);
        i{
            display: block;
            width: 125px;
            height: 55px;
            @include box-shadow(1px 1px 8px -5px #000);
        }
        a{
            display: block;
            height: 55px;
            line-height: 55px;
        }
        img{
            vertical-align: middle;
        }
    }
}
.ico-visa_mastercard{
    background: url(../img/visa_mastercard.png) 0 0 no-repeat;
}
.ico-ym{
    background: url(../img/ym.png) 0 0 no-repeat;
}
.ico-wm{
    background: url(../img/wm.png) 0 0 no-repeat;
}
.ico-moneta{
    background: url(../img/moneta.png) 0 0 no-repeat;
}
.ico-qiwi{
    background: url(../img/qiwi.png) 0 0 no-repeat;
}
.ico-evroset{
    background: url(../img/evroset.png) 0 0 no-repeat;
}
/* ---------------------------------- //END Independent blocks ----------------------------------- */

/* ----------------------------------------- Footer ---------------------------------------------- */
.footer{
    position: relative;
    z-index: 0;
    height: 206px;
    background: #2c2d33;
}
.footer__title{
    height: 54px;
    background: #51535e;
}
.footer__logo{
    width: 171px;
    height: 54px;
    float: left;
    margin-right: 27px;
    text-align: center;
    a{
        display: inline-block;
        width: 100%;
        height: 50px;
        vertical-align: top;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0;
    }
}
.footer__socials{
    float: right;
    margin: 13px 18px 0 0;   
    li{
        position: relative;
        display: inline-block;
        vertical-align: top;
        a{
            display: block;
            padding: 0 14px;
            @include roboto-black;
            font-size: 30px;
            color: #35daf2;
        }
    }
}
.fb{
    display: block;
    @include s($icons, fb);
}
.tw-footer{
    display: block;
    @include s($icons, tw-footer);
}
.vk-footer{
    display: block;
    @include s($icons, vk-footer);
}
.l-footer__likes{
    text-align: center;
    padding-top: 18px;
}
.footer__likes{
    display: inline-block;
    .footer__socials li:first-child{
        top: -2px;
    }
}
.gp-footer{
    display: block;
    @include s($icons, gp-footer);
}
.footer__content{
    width: 990px;
    margin: 0 auto;
    @include clr;
    line-height: 1.2;
}
.footer__menu{
    width: 28%;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    li{
        a{
            font-weight: 400;
            font-size: 10px;
            text-transform: uppercase;
            color: #fff;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.l-payment-abilities{
    clear: both;
    text-align: center;   
}
.payment-abilities__title{
    display: inline-block;
    margin: 12px 0 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    color: #ffea01;
}
.payment-abilities{
    margin: 0 auto;
    font-size: 0;
    li{
        vertical-align: top;
        display: inline-block;
        margin: 0 5px;
    }
}
.copyright{
    margin-top: 7px;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    color: #35daf2;
    span{
        font-weight: 700;
        a{
            color: inherit;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
/* -------------------------------------- //END Footer ------------------------------------------- */